{% extends "./admin/layout.html" %}

{% block content %}

	<h1>Partidos</h1>

	{% if partidos | length > 0 %}
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
			<div id="limitar-registros" data-url="admin/painel/partido">
				<div class="form-group">
			    <label for="exampleInputEmail1">Mostrar:</label>
			    {{ pagination.getSelect() | raw }}
			  </div>
			</div>
		</div>
	{% endif %}

	<a href="/admin/painel/partido/novo" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i> Novo</a>

	<div id="saida">
		<div class="saida" id="saida-js-partido" role="alert"></div>
		{% if mensagem is defined %}
			<div class="alert alert-success" role="alert">{{mensagem}}</div>
		{% elseif erro is defined %}
			<div class="alert alert-danger" role="alert">{{erro}}</div>
		{% endif %}
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Sigla</th>
				<th>Alterar</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody data-location="listar">
			{% if pagination.getObjects() | length > 0 %}
				{% for partido in partidos %}
					<tr>
						<td>{{ partido.getNome() }}</td>
						<td>{{ partido.getSigla() }}</td>
						<td><a href="/admin/painel/partido/alterar/{{ partido.getId() }}" class="glyphicon glyphicon-pencil"></a></td>
						<td><a href="/admin/painel/partido/deletar/{{ partido.getId() }}" class="glyphicon glyphicon-remove" id="btn-deletar" data-reference="partido" data-element="#saida-js-partido"></a></td>
					</tr>
				{% endfor %}
			{% else %}
				<tr><td colspan="4" align="center">Nenhum partido cadastrado!</td></tr>
			{% endif %}
		</tbody>
	</table>

	{% if partidos | length > 0 %}
		<p id="registros" class="text-center">Registros: {{ pagination.getTotalObjects() }}</p>
		{{ pagination.getLinks() | raw }}
	{% endif %}
	

{% endblock %}