RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# bloquear listagem dos arquivos nos diretórios
Options -Indexes

#Bloqueio de acesso ao site via Proxy ou VPN
RewriteCond %{HTTP:VIA}  !^$ [OR] RewriteCond %{HTTP:FORWARDED}  !^$ [OR] RewriteCond %{HTTP:USERAGENT_VIA}  !^$ [OR] RewriteCond %{HTTP:X_FORWARDED_FOR}  !^$ [OR] RewriteCond %{HTTP:PROXY_CONNECTION}  !^$ [OR] RewriteCond %{HTTP:XPROXY_CONNECTION}  !^$ [OR] RewriteCond %{HTTP:HTTP_PC_REMOTE_ADDR} !^$ [OR] RewriteCond %{HTTP:HTTP_CLIENT_IP}  !^$RewriteRule ^(.*)$ - [F]
RewriteCond %{HTTP_USER_AGENT} anonymous [NC]
