{% extends "./admin/layout.html" %}

{% block content %}

	<h1>Notícias</h1>

	{% if noticias | length > 0 %}
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
			<div id="limitar-registros" data-url="admin/painel/noticia">
				<div class="form-group">
			    <label for="exampleInputEmail1">Mostrar:</label>
			    {{ pagination.getSelect() | raw }}
			  </div>
			</div>
		</div>
	{% endif %}

	<a href="/admin/painel/noticia/novo" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i> Novo</a>

	<div id="saida">
		<div class="saida" id="saida-js-noticia" role="alert"></div>
		{% if mensagem is defined %}
			<div class="alert alert-success" role="alert">{{mensagem}}</div>
		{% elseif erro is defined %}
			<div class="alert alert-danger" role="alert">{{erro}}</div>
		{% endif %}
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Título</th>
				<th>Postagem</th>
				<th>Alteração</th>
				<th>Visto</th>
				<th>Destaque</th>
				<th>Ativo</th>
				<th>Alterar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody data-location="listar">
			{% if pagination.getObjects() | length > 0 %}
				{% for noticia in noticias %}
					<tr>
						<td>{{ cortarTexto(noticia.getPost().getTitulo(), 80, true) }}</td>
						<td>{{ noticia.getPost().getDataPostagem() | date("d/m/Y") }}</td>
						<td>{{ (noticia.getPost().getDataAlteracao() is null) ? "-" : noticia.getPost().getDataAlteracao() | date("d/m/Y") }}</td>
						<td>{{ noticia.getPost().getVisualizacoes() }} vezes</td>
						<td>{{ (noticia.getPost().getDestaque() == 1) ? "Sim" : "Não" }}</td>
						<td>{{ (noticia.getPost().getAtivo() == 1) ? "Sim" : "Não" }}</td>
						<td><a href="/admin/painel/noticia/alterar/{{ noticia.getId() }}" class="glyphicon glyphicon-pencil"></a></td>
						<td><a href="/admin/painel/noticia/deletar/{{ noticia.getId() }}" class="glyphicon glyphicon-remove" id="btn-deletar" data-reference="noticia" data-element="#saida-js-noticia"></a></td>
					</tr>
				{% endfor %}
			{% else %}
				<tr><td colspan="7" align="center">Nenhuma notícia cadastrada!</td></tr>
			{% endif %}
		</tbody>
	</table>

	{% if noticias | length > 0 %}
		<p id="registros" class="text-center">Registros: {{ pagination.getTotalObjects() }}</p>
		{{ pagination.getLinks() | raw }}
	{% endif %}
	

{% endblock %}