{% extends "./admin/layout.html" %}

{% block content %}

	<h1>Novo Usuário</h1>


	<form method="post" action="/admin/painel/usuario/novo">

	<div role="tabpanel">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#usuario" aria-controls="usuario" role="tab" data-toggle="tab">Dados Usuário</a></li>
			<li role="presentation"><a href="#pessoa" aria-controls="pessoa" role="tab" data-toggle="tab">Dados Pessoais</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">

			<div role="tabpanel" class="tab-pane active" id="usuario">
				
				<br />
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Usuário</label>
							<input type="text" name="usuario-usuario" maxlength="30" value="{{ dados is defined ? dados["usuario-usuario"] : "" }}" class="form-control" id="exampleInputEmail1" placeholder="Insira um nickname, ex:(fulanotal)">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Email</label>
							<input type="email" name="usuario-email" maxlength="50" value="{{ dados is defined ? dados["usuario-email"] : "" }}" class="form-control" id="exampleInputEmail1" placeholder="Insira o email">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Senha</label>
							<input type="password" name="usuario-senha" maxlength="50" value="{{ dados is defined ? dados["usuario-senha"] : "" }}" class="form-control" id="exampleInputEmail1" placeholder="Insira a senha">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Ativo</label>
							<select name="usuario-ativo" class="form-control">
								<option value="0" {{ (dados is defined and dados["usuario-ativo"] == 0) ? "selected" : "" }}>Não</option>
								<option value="1" {{ (dados is defined and dados["usuario-ativo"] == 1) ? "selected" : "" }}>Sim</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Nível de acesso</label>
							<select name="usuario-nivel" class="form-control">
								<option value="1" {{ (dados is defined and dados["usuario-nivel"] == 1) ? "selected" : "" }}>Normal</option>
								<option value="2" {{ (dados is defined and dados["usuario-nivel"] == 2) ? "selected" : "" }}>Administrador</option>
							</select>
						</div>
					</div>
				</div>

			</div>
			<div role="tabpanel" class="tab-pane" id="pessoa">
				
				<br />
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Nome</label>
							<input type="text" name="pessoa-nome" maxlength="60" value="{{ dados is defined ? dados["pessoa-nome"] : "" }}" class="form-control" id="exampleInputEmail1" placeholder="Insira o nome">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Apelido</label>
							<input type="text" name="pessoa-apelido" maxlength="45" value="{{ dados is defined ? dados["pessoa-apelido"] : "" }}" class="form-control" id="exampleInputEmail1" placeholder="Insira o apelido se for o caso">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="form-group">
							<label for="exampleInputEmail1">Data de nascimento</label>
							<input type="text" name="pessoa-data-nascimento" value="{{ dados is defined ? dados["pessoa-data-nascimento"] : "" }}" class="form-control date" id="exampleInputEmail1" placeholder="Insira a data de nascimento">
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


		<button type="submit" class="btn btn-primary">Cadastrar</button>
		<a href="/admin/painel/vereador" class="btn btn-default" id="btn-cancelar">Cancelar</a>
	</form>

	{% if erro is defined %}
		<br />
		<div class="alert alert-danger" role="alert">{{ erro | raw }}</div>
	{% endif %}

{% endblock %}