{% extends "./admin/layout.html" %}

{% block content %}

	<h1>Alterar Banner</h1>


	<form method="post" action="/admin/painel/banner/alterar" enctype="multipart/form-data">

		<input type="hidden" name="_METHOD" value="PUT"/>
	  	<input type="hidden" name="banner-id" value="{{ banner.getId() }}" />

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="exampleInputEmail1">Título</label>
					<input type="text" name="banner-titulo" maxlength="60" value="{{ dados is defined ? dados["banner-titulo"] : banner.getTitulo() }}" class="form-control" id="exampleInputEmail1" placeholder="Insira o título">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="exampleInputEmail1">Descrição</label>
					<input type="text" name="banner-descricao" maxlength="100" value="{{ dados is defined ? dados["banner-descricao"] : banner.getDescricao() }}" class="form-control" id="exampleInputEmail1" placeholder="Insira a descrição">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="exampleInputEmail1">Ativo</label>
					<select name="banner-ativo" class="form-control">
						{% if dados is defined %}
							<option value="0" {{ (dados["banner-ativo"] == 0) ? "selected" : "" }}>Não</option>
							<option value="1" {{ (dados["banner-ativo"] == 1) ? "selected" : "" }}>Sim</option>
						{% else %}
							<option value="0" {{ (banner.getAtivo() == 0) ? "selected" : "" }}>Não</option>
							<option value="1" {{ (banner.getAtivo() == 1) ? "selected" : "" }}>Sim</option>
						{% endif %}
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="exampleInputEmail1">Banner</label>
					<input type="file" name="banner-banner" id="exampleInputFile">
					<p class="help-block">Imagem .jpg ou .png</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<img src="{{ siteUrl() ~ "/" ~ banner.getBanner() }}" alt="{{ banner.getTitulo() }}" title="{{ banner.getTitulo() }}" class="img-responsive" />
				<br />
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Alterar</button>
		<a href="/admin/painel/banner" class="btn btn-default" id="btn-cancelar">Cancelar</a>
	</form>

	{% if erro is defined %}
		<br />
		<div class="alert alert-danger" role="alert">{{ erro | raw }}</div>
	{% endif %}

{% endblock %}