{% extends "./admin/layout.html" %}

{% block content %}

	<h1>Novo Banner</h1>


	<form method="post" action="/admin/painel/banner/novo" enctype="multipart/form-data">

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="exampleInputEmail1">Título</label>
					<input type="text" name="banner-titulo" maxlength="60" value="{{ dados is defined ? dados["banner-titulo"] : "" }}" class="form-control" id="exampleInputEmail1" placeholder="Insira o título">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="exampleInputEmail1">Descrição</label>
					<input type="text" name="banner-descricao" maxlength="100" value="{{ dados is defined ? dados["banner-descricao"] : "" }}" class="form-control" id="exampleInputEmail1" placeholder="Insira a descrição">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="exampleInputEmail1">Ativo</label>
					<select name="banner-ativo" class="form-control">
						<option value="0" {{ (dados is defined and dados["banner-ativo"] == 0) ? "selected" : "" }}>Não</option>
						<option value="1" {{ (dados is defined and dados["banner-ativo"] == 1) ? "selected" : "" }}>Sim</option>
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<div class="form-group">
					<label for="exampleInputEmail1">Banner</label>
					<input type="file" name="banner-banner" id="exampleInputFile">
					<p class="help-block">Imagem .jpg ou .png</p>
				</div>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Cadastrar</button>
		<a href="/admin/painel/banner" class="btn btn-default" id="btn-cancelar">Cancelar</a>
	</form>

	{% if erro is defined %}
		<br />
		<div class="alert alert-danger" role="alert">{{ erro | raw }}</div>
	{% endif %}

{% endblock %}