{% extends "./admin/layout.html" %}

{% block content %}

	<h1>Secretarias</h1>

	{% if secretarias | length > 0 %}
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
			<div id="limitar-registros" data-url="admin/painel/secretaria">
				<div class="form-group">
			    <label for="exampleInputEmail1">Mostrar:</label>
			    {{ pagination.getSelect() | raw }}
			  </div>
			</div>
		</div>
	{% endif %}

	<a href="/admin/painel/secretaria/novo" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i> Novo</a>

	<div id="saida">
		<div class="saida" id="saida-js-secretaria" role="alert"></div>
		{% if mensagem is defined %}
			<div class="alert alert-success" role="alert">{{mensagem}}</div>
		{% elseif erro is defined %}
			<div class="alert alert-danger" role="alert">{{erro}}</div>
		{% endif %}
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Email</th>
				<th>Telefone</th>
				<th>Secretário</th>
				<th>Ativo</th>
				<th>Alterar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody data-location="listar">
			{% if pagination.getObjects() | length > 0 %}
				{% for secretaria in secretarias %}
					<tr>
						<td>{{ secretaria.getNome() }}</td>
						<td>{{ secretaria.getEmail() }}</td>
						<td>{{ secretaria.getTelefone() }}</td>
						<td>{{ secretaria.getSecretario() }}</td>
						<td>{{ (secretaria.getAtivo() == 1) ? "Sim" : "Não" }}</td>
						<td><a href="/admin/painel/secretaria/alterar/{{ secretaria.getId() }}" class="glyphicon glyphicon-pencil"></a></td>
						<td><a href="/admin/painel/secretaria/deletar/{{ secretaria.getId() }}" class="glyphicon glyphicon-remove" id="btn-deletar" data-reference="secretaria" data-element="#saida-js-secretaria"></a></td>
					</tr>
				{% endfor %}
			{% else %}
				<tr><td colspan="9" align="center">Nenhuma secretaria cadastrada!</td></tr>
			{% endif %}
		</tbody>
	</table>

	{% if secretarias | length > 0 %}
		<p id="registros" class="text-center">Registros: {{ pagination.getTotalObjects() }}</p>
		{{ pagination.getLinks() | raw }}
	{% endif %}
	

{% endblock %}