{% extends "layout.html" %}

{% block title %}Erro inesperado | Câmara Municipal de Pirapora MG{% endblock %}

{% block content %}
	
	<section id="error" class="container text-center">
        <h1>Erro 500: Falha no sistema</h1>
        <p>Lamentamos muito, mas ocorreu um erro no sistema. Caso isto ainda persista, <a href="/fale-conosco">entre em contato conosco</a>.</p>
		<p>Mensagem: {{ message }}</p>
		<p>Arquivo: {{ file }}</p>
		<p>Linha: {{ line }}</p>
        <a class="btn btn-primary" href="/">Página Inicial</a>
    </section><!--/#error-->
	
{% endblock %}