{% extends "layout.html" %}

{% block content %}

	<div id="fale-prefeito" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<h1>FALE COM O PREFEITO</h1>
			<p>Sua mensagem será enviada para:</p>
			<hr />

			{% if prefeito != null %}

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="container-prefeito">
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<img class="img-responsive" src="{{ siteUrl() ~"/"~ prefeito.getFoto() }}" alt="{{ prefeito.getUsuario().getPessoa().getNome() }}" title="{{ prefeito.getUsuario().getPessoa().getNome() }}">
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
						<p><strong>Prefeito: </strong>{{ prefeito.getUsuario().getPessoa().getNome() }} ({{ prefeito.getUsuario().getPessoa().getApelido() }})</p>
						<p><strong>Partido: </strong>{{ prefeito.getPartido().getSigla() | upper }}</p>
						<p><strong>Sobre o Prefeito: </strong>{{ prefeito.getSobre() }}</p>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="headline">
					<h3>PREENCHA CORRETAMENTE TODOS OS CAMPOS PARA FACILITAR O RETORNO E VALIDAR O SEU CONTATO.</h3>
				</div>				

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="formulario">

					<form method="post" action="/email/enviar" id="fale-prefeito">
					  <input type="hidden" name="prefeito-id" value="{{ prefeito.getId() }}">

					  <div class="row">
					  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  		<label for="exampleInputEmail1">Nome</label>
					    	<input type="text" required name="nome" class="form-control" id="exampleInputEmail1" placeholder="Digite seu nome">
					  	</div>
					  </div>

					  <div class="row">
					  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					  		<label for="exampleInputEmail1">Seu e-mail</label>
					    	<input type="email" required name="email" class="form-control" id="exampleInputEmail1" placeholder="Digite seu email">
					  	</div>
					  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					  		<label for="exampleInputEmail1">Telefone</label>
					    	<input type="text" required name="telefone" class="form-control" id="exampleInputEmail1" placeholder="Ex: (35) 0000-0000 ou (16) 9-0000-0000">
					  	</div>
					  </div>

					  <div class="row">
					  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  		<label for="exampleInputEmail1">Endereço</label>
					    	<input type="text" required name="endereco" class="form-control" id="exampleInputEmail1" placeholder="Ex: Rua Quinze, nº 50, Bairro Trinta, Pirapora-MG">
					  	</div>
					  </div>

					  <div class="row">
					  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  		<label for="exampleInputEmail1">Assunto</label>
					    	<input type="text" required name="assunto" class="form-control" id="exampleInputEmail1" placeholder="Digite o assunto">
					  	</div>
					  </div>

					  <div class="row">
					  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  		<label for="exampleInputEmail1">Mensagem</label>
					  		<textarea name="mensagem" required cols="30" rows="6" placeholder="Digite sua mensagem aqui"></textarea>
					  	</div>
					  </div>
					  
					  <div class="row">
					  	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pull-right">
					  		<button data-form="#fale-prefeito" data-msg="Em breve o prefeito responderá!" id="btn-enviar" class="btn-enviar" type="submit">ENVIAR MENSAGEM</button>
					  	</div>
					  	<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pull-left">
					  		<div id="mensagem-form" data-element="mensagem-form"></div>
					  	</div>
					  </div>
					</form>

				</div>
	
			{% else %}
				<h4>Prefeito não encontrado!</h4>
			{% endif %}

		</div>
	</div>

{% endblock %}