{% extends "layout.html" %}


{% block meta %}

<meta property="og:locale" content="pt_BR"/>
<meta property="og:type" content="article"/>
<meta property="article:publisher" content="https://www.facebook.com/prefeituradecoqueiral"/>
<meta property="og:title" content="Pesquisa de Demanda Habitacional | Prefeitura Municipal de Coqueiral"/>
<meta property="og:description" content="A pesquisa acontecerá no período de 03 a 17 de março de 2017 para levantamento de demanda de famílias, com renda máxima R$2.600,00, que desejam participar de programas habitacionais no município de Coqueiral."/>
<meta property="og:url" content="http://coqueiral.mg.gov.br/especial/pesquisa_habitacional"/>
<meta property="og:site_name" content="Prefeitura Municipal de Coqueiral"/>
<meta property="og:image" content="{{ siteUrl() }}/public/img/pesquisa_habitacional.jpg"/>
<meta property="og:image:width" content="600"/>
<meta property="og:image:height" content="400"/>

{% endblock %}

{% block content %}

{% endblock %}