{% extends "layout.html" %}

{% block js %}
	<script type="text/javascript" src="{{ siteUrl() }}/public/js/script/jornal.js"></script>
{% endblock %}

{% block content %}

	<div id="jornal" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<h1>JORNAL NOSSO MUNICÍPIO</h1>
			<hr />
			
			<div class="fb-page" data-href="https://www.facebook.com/prefeituradecoqueiral" data-tabs="timeline" data-height="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/prefeituradecoqueiral" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/prefeituradecoqueiral">Prefeitura Municipal de Coqueiral</a></blockquote></div>

		</div>
	</div>

{% endblock %}