<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ title }}{% endblock %}Prefeitura Municipal de Coqueiral MG</title>

    <link rel="shortcut icon" type="image/ico" href="{{ siteUrl() }}/public/img/favicon.png" />

    <!-- [css] optionals css -->
    {% block css %}{% endblock %}

    <!-- [css] grid bootstrap, camera slider e personalizacao -->
    <link rel="stylesheet" type="text/css" href="{{ siteUrl() }}/public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ siteUrl() }}/public/css/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ siteUrl() }}/public/js/plugins/camera/css/camera.css">
    <link rel="stylesheet" type="text/css" href="{{ siteUrl() }}/public/js/plugins/SlickNav/dist/slicknav.min.css">
    <link rel="stylesheet" type="text/css" href="{{ siteUrl() }}/public/css/style.css">

    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</head>

<body>

    <!-- navbar -->
    <header id="top">
        <div class="container visible-sm-block visible-md-block visible-lg-block" id="faixa-branca">
            <div class="container">
                <a href="/" class="pull-left first" style="color: #009900">WWW.COQUEIRAL.MG.GOV.BR</a>
                <span class="pull-right">ADMINISTRAÇÃO 2017 | 2020</span>
            </div>
        </div>
        <div class="container">
            <div class="row visible-sm-block visible-md-block visible-lg-block">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
                    <div class="fb-page" data-href="https://www.facebook.com/prefeituradecoqueiral" data-width="390" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/prefeituradecoqueiral" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/prefeituradecoqueiral">Prefeitura Municipal de Coqueiral</a></blockquote>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="clearfix  visible-xs-block" style="margin-bottom: 60px !important;"></div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div id="logo" class="text-center">
                        <a href="/">
                            <div class="visible-xs-block">
                                <img style="margin: 0 auto;" class="img-responsive" src="{{ siteUrl() }}/public/img/logo.png" alt="Prefeitura Municipal de Coqueiral MG" title="Prefeitura Municipal de Coqueiral MG">
                            </div>
                            <div class="visible-sm-block visible-md-block visible-lg-block">
                                <img class="img-responsive" src="{{ siteUrl() }}/public/img/logo.png" alt="Prefeitura Municipal de Coqueiral MG" title="Prefeitura Municipal de Coqueiral MG">
                            </div>
                        </a>
                    </div>
                </div>
                <!--
				<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" id="faixa">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h1>Prefeitura Municipal de <span>COQUEIRAL MG</span></h1>
						</div>
					</div>
					<img class="img-responsive visible-sm-block visible-md-block visible-lg-block" src="{{ siteUrl() }}/public/img/faixa.png" alt="Prefeitura Municipal de Coqueiral MG" title="Prefeitura Municipal de Coqueiral MG"></a>
				</div>
				-->
                <!--<div class="col-xs-12 col-sm-5 col-md-4 col-ls-4">
					<div id="logo"><a href="/"><img class="img-responsive" src="{{ siteUrl() }}/public/img/logo.png" alt="Prefeitura Municipal de Coqueiral MG" title="Prefeitura Municipal de Coqueiral MG"></a></div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-8 col-ls-8 visible-sm visible-md visible-lg">
					<div id="texto"><h1 class="pull-left">DIA A DIA POR VOCÊ</h1><img class="pull-right" src="{{ siteUrl() }}/public/img/arrow-top.png" alt="Seta - Prefeitura Municipal de Coqueiral MG"></div>
				</div>-->
            </div>
        </div>
        <nav id="menu" class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-ls-12">
                        <ul>
                            <li><a href="/secretarias">A PREFEITURA</a></li>
                            <li><a href="#">SALA DE IMPRENSA</a>
                                <ul>
                                    <li><a href="/jornal">JORNAL</a></li>
                                    <li><a href="/noticias">NOTÍCIAS</a></li>
                                    <li><a href="/videos">VÍDEOS</a></li>
                                </ul>
                            </li>
                            <li>
                                <form action="/busca" method="post">
                                    <input type="text" required minlength="3" name="busca" placeholder="Pesquise aqui" />
                                    <button type="submit" name="buscar"></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <nav id="sub-menu" class="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-ls-12">
                        <ul>
                            <li><a href="/">Página Inicial</a></li>
                            <li><a href="http://www.transparencia.mg.gov.br/municipios/coqueiral" target="_blank">Transparência</a></li>
                            <li><a href="/legislacao">Legislação</a></li>
                            <li><a href="/publicacoes">Publicações</a></li>
                            <li><a href="/fale-conosco">Fale com a Prefeitura</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <ul class="slick-nav">
            <li><a href="/prefeitura">A PREFEITURA</a></li>
            <li><a href="/secretarias">SECRETARIAS</a></li>
            <li><a href="/noticias">NOTÍCIAS</a></li>
            <li><a href="/sala-de-imprensa">SALA DE IMPRENSA</a></li>
            <li>
                <form action="/busca" method="post">
                    <input type="text" required minlength="3" name="busca" placeholder="Pesquise aqui" />
                    <button type="submit" name="buscar"></button>
                </form>
            </li>
            <li><a href="/">Página Inicial</a></li>
            <li><a href="/transparencia">Transparência</a></li>
            <li><a href="/legislacao">Legislação</a></li>
            <li><a href="/publicacoes">Publicações</a></li>
            <li><a href="/fale-conosco">Fale com a Prefeitura</a></li>
        </ul>
    </header>

    <!-- content -->
    <div id="container" class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- footer -->
    <footer class="footer">

        <!--<section id="secretarias">
			<div class="container">

				<div class="row">
					<div id="fale-com-secretaria" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div><img src="{{ siteUrl() }}/public/img/arrow-light-blue.png"><span>FALE COM AS SECRETARIAS</span></div>
					</div>
					<div id="fale-com-secretaria" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 visible-sm visible-md visible-lg">
						<h2>Sugestões, reclamações, reivindicações, opiniões, dúvidas e solicitações.</h2>
					</div>
				</div>	

				<div class="row">
					<div id="lista-secretarias" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						{% if secretarias | length > 0 %}
							<ul>
								{% for secretaria in secretarias %}
									<li><a href="/fale-com-secretaria/{{ gerarSlug(secretaria.getNome()) ~ "/" ~ secretaria.getId() }}"><span>{{ cortarTexto(secretaria.getNome(), 17) }}</span><img src="{{ siteUrl() }}/{{ secretaria.getFoto() }}" alt="{{ secretaria.getNome() }}" title="{{ secretaria.getNome() }}"></a></li>
								{% endfor %}
							</ul>
						{% else %}
							<h3 class="color-white">Nenhuma secretaria disponível no momento!</h3>
						{% endif %}
					</div>
				</div>

			</div>
		</section>-->

        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div id="logo" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                        <a id="logo-footer" href="/"><img src="{{ siteUrl() }}/public/img/logo-footer.png" alt="Prefeitura Municipal de Coqueiral MG" title="Prefeitura Municipal de Coqueiral MG" /></a>
                    </div>

                    <div id="secretarias" class="col-xs-4 col-sm-4 col-md-3 col-lg-3 visible-sm visible-md visible-lg">
                        <h2>SECRETARIAS</h2>

                        <ul>
                            {% if secretarias | length > 0 %}
                            <ul>
                                {% for secretaria in secretarias %}
                                <li><a href="/fale-com-secretaria/{{ gerarSlug(secretaria.getNome()) ~" / "~ secretaria.getId() }}">{{ secretaria.getNome() }}</a></li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p class="color-white">Nenhuma secretaria disponível!</p>
                            {% endif %}
                        </ul>

                    </div>

                    <div id="developer" class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-md-offset-4 col-lg-offset-4 visible-sm visible-md visible-lg">
                        <p>Desenvolvido por</p>
                        <a href="http://www.flymedia.com.br" target="_blank"><img src="{{ siteUrl() }}/public/img/logo-flymedia.png" alt="FlyMedia"></a>
                    </div>

                </div>

            </div>
        </section>

    </footer>

    <!-- [js] jquery e camera slider -->
    <script type="text/javascript" src="{{ siteUrl() }}/public/js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ siteUrl() }}/public/js/plugins/camera/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="{{ siteUrl() }}/public/js/plugins/camera/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="{{ siteUrl() }}/public/js/plugins/camera/js/camera.min.js"></script>
    <script type="text/javascript" src="{{ siteUrl() }}/public/js/script/camera-config.js"></script>
    <script type="text/javascript" src="{{ siteUrl() }}/public/js/plugins/SlickNav/dist/jquery.slicknav.min.js"></script>
    <script type="text/javascript" src="{{ siteUrl() }}/public/js/script/slick-nav-config.js"></script>
    <script type="text/javascript" src="{{ siteUrl() }}/public/js/script/config.js"></script>
    <script type="text/javascript" src="{{ siteUrl() }}/public/js/script/email.js"></script>

    <!-- [js] optionals js's -->
    {% block js %}{% endblock %}

</body>

</html>