{% extends "layout.html" %}

{% block js %}
	<script type="text/javascript" src="{{ siteUrl() }}/public/js/script/legislacao.js"></script>
{% endblock %}

{% block content %}

	<section id="legislacao">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Publicações</h2>
                <p class="lead">Pesquise documentos, portarias, concursos, publicações e legislação municipal.</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form id="pesquisar-legislacao">
                        <input id="pesquisa" name="search" type="search" class="form-control busca" placeholder="O que deseja buscar?">
                        <button type="submit"  id="btn-pesquisar" name="submit" class="btn btn-success"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                    </form>
                </div>
            </div>
            <div class="row">
				{% if legislacoes | length > 0 %}
					{% for legislacao in legislacoes %}
						<div class="item col-md-12 col-lg-6">
							<h3 class="media-heading">{{ legislacao.getTitulo() | upper }}</h3>
							<p>{{ cortarTexto(legislacao.getDescricao(), 350, true, true) }}</p>
							<a href="/publicacao/{{ gerarSlug(legislacao.getTitulo()) ~"/"~ legislacao.getId() }}" class="btn btn-success">Veja mais</a>
						</div>

					{% endfor %}
				{% else %}
					<p>Nenhuma publicação disponível!</p>
				{% endif %}
            </div>
            <div class="row">
                <center>
					<p id="registros">Registros: {{ pagination.getTotalObjects() }}</p>
					<div id="paginacao">{{ pagination.getLinks() | raw }}</div>
                </center>
            </div>
        </div>
        <!--/.container-->
    </section>
    <!--/about-us-->

{% endblock %}