{% extends "layout.html" %}

{% block js %}
	<script type="text/javascript" src="{{ siteUrl() }}/public/js/script/legislacao.js"></script>
{% endblock %}

{% block content %}

	<div id="legislacoes" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<h1>LEGISLAÇÃO</h1>
			<p>Pesquise e baixe documentos da legislação municipal.</p>
			<hr />

			<form id="pesquisar-legislacao">
				<input type="search" name="search" id="pesquisa" placeholder="Digite aqui todo ou parte do nome/número do arquivo que deseja buscar">
				<input type="submit" name="submit" id="btn-pesquisar" value="">
			</form>

			{% if legislacoes | length > 0 %}

				<div class="row">
					{% for legislacao in legislacoes %}
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<a href="/legislacao/{{ gerarSlug(legislacao.getTitulo()) ~"/"~ legislacao.getId() }}">{{ legislacao.getTitulo() | upper }}</a>
							<div class="box">
								<p>{{ cortarTexto(legislacao.getDescricao(), 350, true, true) }}</p>
								<p>Data: {{ legislacao.getData() | date("d/m/Y H:i") }} | Número: {{ legislacao.getNumero() }}</p>
							</div>
							<br />
						</div>
					{% endfor %}
				</div>

				<p id="registros">Registros: {{ pagination.getTotalObjects() }}</p>
				<div id="paginacao">{{ pagination.getLinks() | raw }}</div>

			{% else %}
				<p>Nenhuma legislação disponível!</p>
			{% endif %}

		</div>
	</div>

{% endblock %}