{% extends "layout.html" %}

{% block content %}

	<section id="about-us">
        <div class="container">
			{% if licitacao != null %}
            <div class="center wow fadeInDown">
                <h2>{{ licitacao.getTitulo() }}</h2>
                <p class="lead">Início: {{ licitacao.getDataInicio() | date("d/m/Y H:i") }} | Término: {{ licitacao.getDataTermino() | date("d/m/Y H:i") }}</p>
            </div>

            <div class="wow fadeInDown">
                <div class="col-md-12">
                    {{ licitacao.getDescricao() | raw }}

                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <a href="{{ siteUrl() ~"/"~ licitacao.getEdital() }}" class="btn btn-success" target="_blank"><i class="fa fa-download"></i>&nbsp;Download</a>
                </div>
            </div>

			{% else %}
				<p>Publicação não encontrada!</p>
			{% endif %}

        </div>
        <!--/.container-->
    </section>

{% endblock %}