{% extends "layout.html" %}

{% block content %}

	 <section id="blog" class="container">
        <div class="center">
            <h2>Notícias</h2>
            <p class="lead">Notícias recentes do município.</p>
        </div>

        <div class="blog">
            <div class="row">
			
                <div class="col-md-8">
					{% if noticias | length > 0 %}
						{% for noticia in noticias %}
						<div class="blog-item">
							<div class="row">
								<div class="col-xs-12 col-sm-2 text-center">
									<div class="entry-meta">
										<span id="publish_date">{{ noticia.getPost().getDataPostagem() | date("d/m/Y") }}</span>
										<span><i class="fa fa-user"></i> <a href="#">{{ noticia.getPost().getAutor().getPessoa().getNome() }}</a></span>
									</div>
								</div>

								<div class="col-xs-12 col-sm-10 blog-content">
									<a href="/noticia/{{ gerarSlug(noticia.getPost().getTitulo()) ~"/"~ noticia.getId() }}"><img class="img-responsive img-blog" src="{{ siteUrl() ~"/"~ noticia.getFoto()}}" width="100%" alt="" /></a>
									<h2><a href="/noticia/{{ gerarSlug(noticia.getPost().getTitulo()) ~"/"~ noticia.getId() }}">{{ noticia.getPost().getTitulo()}}</a></h2>
									<h3>{{ cortarTexto(noticia.getTexto(), 450, true, true) | raw }}</h3>
									<a class="btn btn-primary readmore" href="/noticia/{{ gerarSlug(noticia.getPost().getTitulo()) ~"/"~ noticia.getId() }}">Leia mais</a>
								</div>
							</div>
						</div>
						<!--/.blog-item-->
						{% endfor %}

						{{ pagination.getLinks() | raw }}
						<!--/.pagination-->
					{% else %}
						<p>Nenhuma notícia disponível!</p>
					{% endif %}
                </div>
                <!--/.col-md-8-->


                <aside class="col-md-4">
                    <div class="widget search">
                        <form role="form">
                            <input type="text" class="form-control search_box" autocomplete="off" placeholder="Busca aqui">
                        </form>
                    </div>
                    <!--/.search-->

                    <div class="widget categories">
                        <h3>Facebook</h3>
                        <div class="row">
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprefeituradecoqueiral&tabs=timeline%2Cevents&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340"
                                height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        </div>
                    </div>
                    <!--/.recent comments-->


                    <div class="widget categories">
                        <h3>Categorias</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="blog_category">
                                    <li><a href="#">Projetos</a></li>
                                    <li><a href="#">Saúde</a></li>
                                    <li><a href="#">Educação</a></li>
                                    <li><a href="#">Concursos</a></li>
                                    <li><a href="#">Eventos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/.categories-->

                </aside>
            </div>
            <!--/.row-->
        </div>
    </section>

{% endblock %}