{% extends "layout.html" %}

{% block content %}

	<section id="about-us">
        <div class="container">
			{% if publicacao != null %}
            <div class="center wow fadeInDown">
                <h2>{{ publicacao.getTitulo() }}</h2>
                <p class="lead">Data: {{ publicacao.getDataInicio() | date("d/m/Y H:i") }} | Número: {{ publicacao.getNumero() }}</p>
            </div>

            <div class="wow fadeInDown">
                <div class="col-md-12">
                   {{ publicacao.getDescricao() | raw }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <a onclick="ga('send', 'event', 'Publicações', 'Download', 'Documento');" href="{{ siteUrl() ~"/"~ publicacao.getArquivo() }}" target="_blank" class="btn btn-success"><i class="fa fa-download"></i>&nbsp;Download</a>
                </div>
            </div>

			{% else %}
				<p>Publicação não encontrada!</p>
			{% endif %}

        </div>
        <!--/.container-->
    </section>
	
{% endblock %}