{% extends "layout.html" %}

{% block content %}

	<div id="secretarias" class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			
			<h1>SECRETARIAS</h1>
			<p>Clique e conheça melhor cada secretaria, e se quiser, envie uma mensagem.</p>
			<hr />

			{% if secretarias | length > 0 %}
				<div class="row">
					{% for key, secretaria in secretarias %}
						<div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
							<a class="secretaria-thumb" href="{{ siteUrl() ~"/fale-com-secretaria/"~ gerarSlug(secretaria.getNome()) ~"/"~ secretaria.getId() }}">
								<img class="img-responsive" src="{{ siteUrl() ~"/"~ secretaria.getFoto() }}" alt="{{ secretaria.getNome() }}" title="{{ secretaria.getNome() }}" >
								<p class="text-center">{{ cortarTexto(secretaria.getNome(), 25, true) }}</p>
								<p class="text-center">({{ secretaria.getSecretario() }})</p>
							</a>
							<br />
						</div>
						{% if (key+1) % 2 == 0 %}
							<div class="clearfix visible-xs-block"></div>
						{% endif %}
					{% endfor %}
				</div>
			{% else %}
				<p>Nenhuma secretaria disponível no momento!</p>
			{% endif %}

		</div>
	</div>

{% endblock %}