{% extends "./admin/layout.html" %}

{% block content %}

	<h1>Alterar Tipo de Prefeito</h1>

	<form method="post" action="/admin/painel/tipo-prefeito/alterar">
	  <input type="hidden" name="_METHOD" value="PUT"/>
	  <input type="hidden" name="tipo-id" value="{{ tipoPrefeito.getId() }}" />
	  <div class="form-group">
	    <label for="exampleInputEmail1">Descrição</label>
	    <input type="text" value="{{ tipoPrefeito.getDescricao() }}" name="tipo-descricao" maxlength="45" class="form-control" id="exampleInputEmail1" placeholder="Digite a descrição">
	  </div>
	  <button type="submit" class="btn btn-primary">Alterar</button>
	  <a href="/admin/painel/tipo-prefeito" class="btn btn-default" id="btn-cancelar">Cancelar</a>
	</form>

	{% if erro is defined %}
		<br />
		<div class="alert alert-danger" role="alert">{{ erro | raw }}</div>
	{% endif %}

{% endblock %}