{% extends "./admin/layout.html" %}

{% block content %}

	<h1>Tipos de Prefeito</h1>

	{% if tiposPrefeito | length > 0 %}
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
			<div id="limitar-registros" data-url="admin/painel/tipo-prefeito">
				<div class="form-group">
			    <label for="exampleInputEmail1">Mostrar:</label>
			    {{ pagination.getSelect() | raw }}
			  </div>
			</div>
		</div>
	{% endif %}

	<a href="/admin/painel/tipo-prefeito/novo" class="btn btn-primary"><i class="glyphicon glyphicon-file"></i> Novo</a>

	<div id="saida">
		<div class="saida" id="saida-js-tipo-prefeito" role="alert"></div>
		{% if mensagem is defined %}
			<div class="alert alert-success" role="alert">{{mensagem}}</div>
		{% elseif erro is defined %}
			<div class="alert alert-danger" role="alert">{{erro}}</div>
		{% endif %}
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Descrição</th>
				<th>Alterar</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody data-location="listar">
			{% if tiposPrefeito | length > 0 %}
				{% for tipoPrefeito in tiposPrefeito %}
					<tr>
						<td>{{ tipoPrefeito.getDescricao() }}</td>
						<td><a href="/admin/painel/tipo-prefeito/alterar/{{ tipoPrefeito.getId() }}" class="glyphicon glyphicon-pencil"></a></td>
						<td><a href="/admin/painel/tipo-prefeito/deletar/{{ tipoPrefeito.getId() }}" class="glyphicon glyphicon-remove" id="btn-deletar" data-reference="tipo de prefeito" data-element="#saida-js-tipo-prefeito"></a></td>
					</tr>
				{% endfor %}
			{% else %}
				<tr><td colspan="3" align="center">Nenhum tipo de prefeito cadastrado!</td></tr>
			{% endif %}
		</tbody>
	</table>

	{% if tiposPrefeito | length > 0 %}
		<p id="registros" class="text-center">Registros: {{ pagination.getTotalObjects() }}</p>
		{{ pagination.getLinks() | raw }}
	{% endif %}

{% endblock %}